<div class="row">
    <div class="col-xs-12">
        <h2>{{name}}</h2>
        <ul class="demo" *ngFor="let book of books">
            <li>{{book.title}}</li>
            <li>{{book.author}}</li>
            <li>{{book.year}}</li>
            <hr>
        </ul>
    </div>
</div>
<label class="list-left-margin">Title:<br><input type="text" class="rcorners" [(ngModel)]="newTitle"></label>
<label class="list-left-margin">Author:<br><input type="text" class="rcorners" [(ngModel)]="newAuthor"></label>
<label class="list-left-margin">Year:<br><input type="text" class="rcorners" [(ngModel)]="newYear"></label><br>
<button class="btn btn-primary list-left-margin btn-sm" (click)="addBook(); reference.value=''">Add book</button>
<button class="btn btn-warning remove-book btn-sm" (click)="removeBook()">Remove book</button>
