<div class="row">
    <div class="col-xs-12">
        <ul *ngFor="let book of books">
            <li>{{book.title}}</li>
            <li>{{book.author}}</li>
            <li>{{book.year}}</li>
        </ul>
    </div>
</div>
<label>Title<input type="text" [(ngModel)]="newTitle"></label>
<label>Author<input type="text" [(ngModel)]="newAuthor"></label>
<label>Year<input type="text" [(ngModel)]="newYear"></label>
<button class="btn btn-primary" (click)="addBook()">Add book</button>
<button class="btn btn-primary" (click)="removeBook()">Remove book</button>
